// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;

$c-white: #fff;
$c-grey--light: #f5f5f5;
$c-black: #0A0000;
$c-blue: #73AFDD;
$c-blue--fade: #91C0DD;
$c-warmGrey: #827380;
$c-warmGrey--fade: #D2C5D0;


// Typography
$font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$f-serif: 'Abhaya Libre', 'Georgia', serif;
$f-sans: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;

//Module padding
@mixin module-fullHeight {
  width: 100%;
  padding: 4em 0;
  height: auto;
  height: 100vh;
  min-height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
