.hero {
  width: 100%;
  height: 30em; //no vh backup
  height: 100vh;
  background: url('../images/the-moment_horiz_bnw.jpg') no-repeat center center, $c-warmGrey;
  background-size: cover;

  //fixed position on scroll
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    width: 100%;
    height: 30em; //no vh backup
    height: 100vh;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.hero--after {
  //allow fix position
  position: relative;
  z-index: 2;
  box-shadow: 0 -2em 30em $c-black;
  top: 30em;
  top: 100vh;
}

.hero--arrowDown {
  width: 5em; //80px
  position: absolute;
  bottom: 6em;
  left: 45%; //no cal function
  left: calc(50% - 2.5em);
  z-index: 2;

  @media ($bp-larger-than-phablet) {
    bottom: 4em;
    width: 6.25em; //100px
    left: calc(50% - 3.125em);
  }

  .hero--topLine {
    animation: arrowDown 2s infinite ease-in-out;
    stroke-weight: 2px;
  }

  @keyframes arrowDown {
    0%, 100% {

    }

    50% {
      transform: translateY(10px);
    }
  }
}

.hero--container {
  width: 100%;
}

.hero--headline {
  display: none;
  text-align: center;
  color: #fff;
  font-family: $f-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.125em;
  padding-top: calc(50vh - 4.5em); //center the words vertically
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.75);
  letter-spacing: 0.25em;
  text-transform: uppercase;

  &:after, &:before{
    content: '';
    display: block;
    width: 1em;
    margin: 1em auto;
    height: 0em;
    border-bottom: 1px solid $c-white;
  }
}

.hero--logo {
  width: 110%;
  fill: $c-white;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;

  @media ($bp-larger-than-phablet) {
    width: 80%;
  }

  @media ($bp-larger-than-tablet) {
    width: 60%;
  }

  @media (min-width: 1600px) {
    width: 60%;
  }
}
