.welcome {
  background: url('../images/paper_fibers.png');
  width: 100%;
  padding: 2em 0;

  //allow fix position
  position: relative;
  z-index: 2;
  box-shadow: 0 0 30em rgba(0, 0, 0, 0.8);
  top: 30em;
  top: 100vh;

  @media ($bp-larger-than-phablet) {
    padding: 6em 0;
  }
}

.welcome--contain {
  width: 90%;
  max-width: 50em;
  background: $c-white;
  margin: 0 auto;
  padding: 4em;
  box-sizing: border-box;

  h2 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.25em;
    font-color: $c-warmGrey;

    &:after {
      content: '';
      display: block;
      width: 30%;
      margin-left: 35%;
      height: 1em;
      border-bottom: 1px solid $c-warmGrey--fade;
    }
  }

  p {
    font-family: $f-serif;
    font-size: 1.125em;
    color: $c-black;

    @media ($bp-larger-than-phablet) {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
