.welcome {
  background: url('../images/dark_wood.png'), $c-black;
  @include module-fullHeight; //use 100vh
  border-top: 1px $c-warmGrey solid;
  border-bottom: 1px $c-warmGrey solid;
  position: relative;
}

.welcome--contain {
  width: 90%;
  max-width: 50em;
  background: $c-white;
  margin: 0 auto;
  padding: 2em 1em;
  box-sizing: border-box;
  border-bottom: 0.25em $c-blue solid;
  position: relative;
  z-index: 1;

  @media ($bp-larger-than-mobile) {
    padding: 4em 2em;
  }

  @media ($bp-larger-than-phablet) {
    padding: 4em;
  }

  @media ($bp-larger-than-tablet) {
    padding: 6em;
  }

  h2 {
    @include header2;

    &:after {
      content: '';
      display: block;
      width: 30%;
      margin-left: 35%;
      height: 1em;
      border-bottom: 1px solid $c-warmGrey--fade;
    }
  }

  p {
    @include p;

    @media ($bp-larger-than-phablet) {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
